*{font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;}
    
body{padding: 0px;
     margin: 0px;}
            
h1, h2, h3{font-family: "Noto Sans", sans-serif;
           font-optical-sizing: auto;
           font-weight:300px;
           font-style: normal;
           font-variation-settings:"wdth" 100;
           color:rgb(235, 0, 255);
           background-color: rgba(255, 245, 105, 0.682);}
                
h1,h2{display: flex;
      justify-content: center;
      font-size: 40px;
      border: solid black 2px;
      margin-top: 40px;
      margin-bottom: 40px;}
                   
#p4{font-size: 24px;}
                   
.bgimg {height: 500px;
        border: 1px solid black;
        background-image: url(./media/css.png);
        background-size: contain;
        background-attachment: fixed;}
    
a:link {background-color: aqua;}
                        
a:hover{background-color: rgba(255, 0, 0, 0.689)}
                       
.navflex{display: flex;
         justify-content: space-evenly;
         align-items: center;
         list-style-type: none;}
                           
#navbord{border:solid 1px;
         margin-top: 50px;
         margin-bottom: 0px;}
                                
.sectionflex{display: flex;
             justify-content: space-evenly;
             align-items: center;
             width: 60%;
             height: 100vh;
             margin-bottom: 100px;}
   
img{width: 80%;}
                                    
.articleflex{display: flex;
             flex-direction: column;
             border: solid black 1px;
             width: 100%;
             height: 100%;
             margin: 5px;
             text-align: center;}
                                        
aside{display: flex;
      width: 40%;
      height: 100%;
      border: solid black 1px;}
    
main{display: flex;}
